# Database
DATABASE_URL="mysql://user:password@localhost:3306/mirukhali_school"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-in-production"

# File Upload
UPLOAD_DIR="./public/uploads"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SCHOOL_NAME="Mirukhali School & College"
